
  <script type="text/javascript">
    var fxcalendar_config = {
        host: "http://calendar.fxstreet.com",
        css: 'mini',
        rows: 10,
        pastevents: 5,
        hoursbefore: 20,        
        timezone: 'UTC',
        showcountryname: 'false',
        columns: 'date,time,country,event,volatility',
        isfree: 'true',
        countrycode: 'AU,CA,JP:EMU,NZ,CH,UK,US',
        culture:'en-US'
    };
    </script>
    <script type="text/javascript" src="http://calendar.fxstreet.com/scripts/mini"></script>
    <div id="fxst_calendar" style="width: 645px"></div>
    <a href="http://calendar.fxstreet.com" target="_blank" style="font-size: 11px;">Economic Calendar</!--a> <a href="http://www.fxstreet.com/syndicate/calendar/"  target="_blank" style="font-size: 11px;"> >> Add to your site</a>

