<div class="row">
  <div class="col-lg-12">
    <div class="panel">
    	<div class="panel-heading">
    		<h3 class="panel-title">Editing Azzet
    		</h3>
    	</div>
		<%= render 'form' %>
    </div>
  </div>
</div>
