<div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-bar-chart-o fa-fw"></i> Closed Trades
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <%= content_tag :div, "", id: "trades_chart", data: {trades: trades_chart_data} %>
            </div>
            <!-- /.panel-body -->
</div> 