<h1>Statistics#index</h1>
<p>Find me in app/views/statistics/index.html.erb</p>
<link rel="stylesheet" href="http://cdn.oesmith.co.uk/morris-0.5.1.css">
<!-- /.row -->
<div class="row">
	<div class=".col-md-10">
		<div class="panel panel-default">
		    <div class="panel-heading">
		        <i class="fa fa-bar-chart-o fa-fw"></i> Closed Trades
		    </div>
		    <!-- /.panel-heading -->
		    <div class="panel-body">
		        <%= content_tag :div, "", id: "all_trades_chart", data: { trades: trades_chart_data } %>
		    </div>
		    <!-- /.panel-body -->
		</div>
	</div> 
</div>