<script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
<script src="https://silviomoreto.github.io/bootstrap-select/bootstrap-select.min.js"></script>
<script src="/assets/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>

<script type="text/javascript">

    var dt_begin_date = '';
    var dt_end_date = '';
    var accounts = "?";
    var strategies = "?";
    var params = "?";

    function update_charts() 
    {

         update_filters();
         update_trades_chart();
         update_estrategies_chart();
         //update_azzets_chart();

    }

    function update_filters()
    {
        dt_begin_date = $("#dt_begin_date").val();
        dt_end_date = $("#dt_end_date").val();

        params = "?";
        params += "begin_date=" + dt_begin_date + "&";
        params += "end_date=" + dt_end_date + "&";

        //Obtiene las cuentas seleccionas y genera los parametros
        accounts = "";

        var selected_accounts = $("#ls_accounts").val();

        for (i = 0; i < selected_accounts.length; i++) { 
            accounts += "account[]=" + selected_accounts[i] + "&";
        }

        params += accounts;

        //Obtiene las estrategias seleccionas y genera los parametros
        strategies = "";

        var selected_strategies = $("#ls_strategies").val();

        for (i = 0; i < selected_strategies.length; i++) { 
            strategies += "strategy[]=" + selected_strategies[i] + "&";
        }

        params += strategies;
    }

    function update_trades_chart()
    {
        //var url =  "/statistics/trades_chart/1/" + dt_begin_date + "/" + dt_end_date+ "/" + accounts;
        var url =  "/statistics/trades_chart/1/" + params;

        $.ajax({
            type: 'GET', 
            url: url, 
            dataType: 'script',
            success: function(data){

                data = jQuery.parseJSON(data);
                var chart = $('#trades-chart').highcharts();

                
                chart.series[0].update({
                    pointStart: data[0].pointStart,
                    pointInterval: data[0].pointInterval,
                    data: data[0].data
                }, false);

                chart.series[1].update({
                    pointStart: data[1].pointStart,
                    pointInterval: data[1].pointInterval,
                    data: data[1].data
                }, false);

                chart.series[2].update({
                    pointStart: data[2].pointStart,
                    pointInterval: data[2].pointInterval,
                    data: data[2].data
                }, false);

                chart.series[4].update({
                    pointStart: data[3].pointStart,
                    pointInterval: data[3].pointInterval,
                    data: data[3].data
                }, false);

                //Sumamos los resultados para alimentar la grafica de totales
                sumWon = 0;
                $.each(data[0].data,function(){sumWon+=parseFloat(this) || 0;});
                sumTie = 0;
                $.each(data[1].data,function(){sumTie+=parseFloat(this) || 0;});
                sumLost = 0;
                $.each(data[2].data,function(){sumLost+=parseFloat(this) || 0;});

                var pieChart = [
                    {
                        color : "#4ebcda",
                        name  : "Won",
                        y     : sumWon
                    },
                    {
                        "color" : "#E6EBE0",
                        "name"  : "Tie",
                        "y"     : sumTie
                    },
                    {
                        "color" : "#F1948A",
                        "name"  : "Lost",
                        "y"     : sumLost
                    }
                ]

                chart.series[3].update({
                    data: pieChart //data[3].data
                }, false);
              
                chart.redraw();
            }
        });
    }

    function update_estrategies_chart()
    {
        //var url =  "/statistics/strategies_chart/1/" + dt_begin_date + "/" + dt_end_date+ "/" + accounts;
        var url =  "/statistics/strategies_chart/1/" + params;

        $.ajax({
            type: 'GET', 
            url: url, 
            dataType: 'script',
            success: function(data){

                data = jQuery.parseJSON(data);
                var chart = $('#strategy-chart').highcharts();

                
                chart.series[0].update({
                    pointStart: data[0].pointStart,
                    pointInterval: data[0].pointInterval,
                    data: data[0].data
                }, false);

                chart.series[1].update({
                    pointStart: data[1].pointStart,
                    pointInterval: data[1].pointInterval,
                    data: data[1].data
                }, false);

                chart.series[2].update({
                    pointStart: data[2].pointStart,
                    pointInterval: data[2].pointInterval,
                    data: data[2].data
                }, false);

                chart.xAxis[0].setCategories(data[3].data);
              
                chart.redraw();
            }
        });
    }

    function update_azzets_chart()
    {
        //var url =  "/statistics/azzets_chart/1/" + dt_begin_date + "/" + dt_end_date+ "/" + accounts;
        var url =  "/statistics/azzets_chart/1/" + params;

        $.ajax({
            type: 'GET', 
            url: url, 
            dataType: 'script',
            success: function(data){

                data = jQuery.parseJSON(data);
                var chart = $('#azzet-chart').highcharts();

                
                chart.series[0].update({
                    pointStart: data[0].pointStart,
                    pointInterval: data[0].pointInterval,
                    data: data[0].data
                }, false);

                chart.series[1].update({
                    pointStart: data[1].pointStart,
                    pointInterval: data[1].pointInterval,
                    data: data[1].data
                }, false);

                chart.series[2].update({
                    pointStart: data[2].pointStart,
                    pointInterval: data[2].pointInterval,
                    data: data[2].data
                }, false);

                chart.xAxis[0].setCategories(data[3].data);
              
                chart.redraw();
            }
        });
    }

</script>

<script type="text/javascript">
  

  $(function() {

    $('#trades-chart').highcharts({
        title: {
            text: 'Trade diario'
        },
        credits: {
            enabled: false
        },
        xAxis: {
            type: "datetime",
            tickmarkPlacement: 'on',
            title: {
                enabled: false
            }
        },
        yAxis: [
        {
            title: {
                text: 'Total trades'
            },
            labels: {
                formatter: function () {
                    return this.value;
                }
            },

        },
        {
            title: {
                text: 'Profit'
            },
            labels: {
                formatter: function () {
                    return "$ " + this.value;
                }
            },
            opposite: true
        }
        ],
        tooltip: {
            shared: true,
            valueSuffix: ''
        },
        plotOptions: {
            area: {
                //stacking: 'normal',
                marker: {
                    enabled: false,
                    symbol: 'circle',
                    radius: 2,
                    states: {
                        hover: {
                            enabled: true
                        }
                    }
                }
            }
        },
        series:
        [
            {
                type: 'area',
                name: 'Won',
                color:'#4ebcda',
                pointInterval: '',
                pointStart: '',
                data: []
            },
            {
                type: 'area',
                name: 'Tie',
                color:'#E6EBE0',
                pointInterval: '',
                pointStart: '',
                data: []
            },
            {
                type: 'area',
                name: 'Lost',
                color: '#F1948A',
                pointInterval: '',
                pointStart: '',
                data: []
            },
            {
                type: 'pie',
                name: 'Total trades',
                data: [],
                center: [100, 80],
                size: 100,
                showInLegend: false,
                dataLabels: {
                    enabled: false
                }
            },
            {
                type: 'spline',
                yAxis: 1,
                name: 'Profit',
                color:'#F7DC6F',
                data: [],
                marker: {
                    lineWidth: 2,
                    lineColor: '#F7DC6F',
                    fillColor: 'white'
                },
                tooltip: {
                    valuePrefix: '$ '
                }
            }
        ]
    });


    $('#strategy-chart').highcharts({
        chart: {
            type: 'column'
        },
        credits: {
            enabled: false
        },
        title: {
            text: 'Trade by Strategy Global'
        },
        xAxis: {
            categories: [                  
            ]
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Eficiencia'
            }
        },
        tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                '<td style="padding:0"><b>{point.y:.0f} </b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
        },
        plotOptions: {
            column: {
                pointPadding: 0.2,
                borderWidth: 0
            }
        },
        series: 
        [
            {
                name: 'WON',
                color:'#4ebcda',
                data: [
                    
                ],
                dataLabels: {
                    enabled: true,
                    //rotation: -90,
                    color: '#FFFFFF',
                    align: 'center',
                    format: '{point.y:.0f}', // one decimal
                    //y: 10, // 10 pixels down from the top
                    style: {
                        fontSize: '10px',
                        fontFamily: 'Verdana, sans-serif'
                    }
                }
            },
            {
                name: 'TIE',
                color:'#E6EBE0',
                data: [
                    
                ],
                dataLabels: {
                    enabled: true,
                    //rotation: -90,
                    color: '#FFFFFF',
                    align: 'center',
                    format: '{point.y:.0f}', // one decimal
                    //y: 10, // 10 pixels down from the top
                    style: {
                        fontSize: '10px',
                        fontFamily: 'Verdana, sans-serif'
                    }
                }
            },
            {
                name: 'LOST',
                color: '#F1948A',
                data: [
                    
                ],
                dataLabels: {
                    enabled: true,
                    //rotation: -90,
                    color: '#FFFFFF',
                    align: 'center',
                    format: '{point.y:.0f}', // one decimal
                    //y: 10, // 10 pixels down from the top
                    style: {
                        fontSize: '10px',
                        fontFamily: 'Verdana, sans-serif'
                    }
                }
            }

        ]
    });


 /*   $('#azzet-chart').highcharts({
        chart: {
            type: 'column'
        },
        credits: {
            enabled: false
        },
        title: {
            text: 'Trades by Asset Global'
        },
        xAxis: { 
            categories: [ ]
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Eficiencia'
            }
        },
        tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                '<td style="padding:0"><b>{point.y:.0f} </b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
        },
        plotOptions: {
            column: {
                pointPadding: 0.2,
                borderWidth: 0
            }
        },
        series: 
        [ 
            {
                name: 'WON',
                color:'#5fa2dd',
                data: [
                ],
                dataLabels: {
                    enabled: true,
                    //rotation: -90,
                    color: '#FFFFFF',
                    align: 'center',
                    format: '{point.y:.0f}', // one decimal
                    //y: 10, // 10 pixels down from the top
                    style: {
                        fontSize: '10px',
                        fontFamily: 'Verdana, sans-serif'
                    }
                }
            },
            {
                name: 'TIE',
                color:'#E6EBE0',
                data: [
                ],
                dataLabels: {
                    enabled: true,
                    //rotation: -90,
                    color: '#FFFFFF',
                    align: 'center',
                    format: '{point.y:.0f}', // one decimal
                    //y: 10, // 10 pixels down from the top
                    style: {
                        fontSize: '10px',
                        fontFamily: 'Verdana, sans-serif'
                    }
                }
            },
            {
                name: 'LOST',
                color: '#F45B69',
                data: [
                ],
                dataLabels: {
                    enabled: true,
                    //rotation: -90,
                    color: '#FFFFFF',
                    align: 'center',
                    format: '{point.y:.0f}', // one decimal
                    //y: 10, // 10 pixels down from the top
                    style: {
                        fontSize: '10px',
                        fontFamily: 'Verdana, sans-serif'
                    }
                }
            }
        ]       
    });*/



    $('#ls_accounts').selectpicker('selectAll'); 
    $('#ls_strategies').selectpicker('selectAll'); 

    $('.input-daterange').datepicker({
        todayHighlight: true,
        format: 'dd/mm/yyyy'
    });


    update_charts();
});

</script>


<div class="row">
    <div class="col-lg-12">
        <div class="panel">
            <div class="panel-body">
                <div class="filter_date">
                    <form class="form-inline">
                        <div class="form-group">
                            <div class="input-daterange" id="datepicker">
                                    <label for="dt_begin_date">from</label>
                                    <input type="text" class="input-sm form-control btn btn-default" name="start" id="dt_begin_date">

                                    <label for="dt_end_date">to</label>
                                    <input type="text" class="input-sm form-control btn btn-default" name="end" id="dt_end_date">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="ls_strategies">Accounts</label>
                            <%= collection_select(:account, :broker, BrokerAccount.where(user_id: current_user.id), :id, :name,{},{:class=> "s" ,:multiple => true, :id => "ls_accounts", :data => {"actions-box" => "true"}})%>
                        </div>

                        <div class="form-group">
                            <label for="ls_strategies">Strategies</label>
                            <%= collection_select(:id, :Name, Strategy.where(User_id: current_user.id), :id, :Name,{},{:class=> "s" ,:multiple => true, :id => "ls_strategies", :data => {"actions-box" => "true"}})%>
                        </div>

                        <a href="javascript:update_charts();" class="btn btn-primary" id="filter">Filter</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div id="trades-chart" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div id="strategy-chart" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
            </div>
        </div>
    </div>
</div>

<!--div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div id="azzet-chart" style="min-width: 310px; height: 400px; margin: 0 auto"></div>        
            </div>
        </div>
    </div>
</div-->

