<%= render 'style' %>
<div>
<div class="title"><%= I18n.t('page_principal') %></div>
<div class="subtitle">BO-MONITOR</div>
<strong><div class="description"><%= I18n.t('page_description') %></div></strong>
</div>