<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>My Binary Option Stats</h1>
            <hr>
            <p><%= I18n.t('page_description') %></p>
            <%= link_to I18n.t('buttons.signup'), new_user_registration_path, :class => 'btn btn-primary btn-xl page-scroll'  %>
        </div>
    </div>
</header>