// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.down-arrow, .up-arrow {
	display: inline-block;
	position: relative;
	padding: 15px 0;
	width: 200px;
	text-align: center;
	color: white;
	font-size: 24px;
}
.down-arrow{
	background: #c9302c;
}
.down-arrow:after {
	content: '';
	display: block;  
	position: absolute;
	left: 0;
	top: 100%;
	width: 0;
	height: 0;
	border-top: 20px solid #c9302c;
	border-right: 100px solid transparent;
	border-bottom: 0 solid transparent;
	border-left: 100px solid transparent;
}
.up-arrow{
	background: #449d44;
}
.up-arrow:before {
	content: '';
	display: block;  
	position: absolute;
	left: 0;
	bottom: 100%;
	margin-top: 20px;
	width: 0;
	height: 0;
	border-top: 0 solid transparent;
	border-right: 100px solid transparent;
	border-bottom: 20px solid #449d44;
	border-left: 100px solid transparent;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}